<div class="container p-3 mb-2 bg-light text-dark text-center" id="main">
  <h1 class="page-title">Tumbleweed</h1>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= image_tag "Avatar.jpg", class: "photo_avatar" %>
        <p>by <span>John El Basha</span></p>
      </div>
      <div class="col-9">
        <% @articles.each do |article| %>
          <article class="post">
            <header class="post-header">
              <h2 class="post-title"><%= article.title %></h2>
            </header>
            <section class="post-excerpt">
              <%= sanitize article.body %> <!--  need code coverage for using sanitize -->
            </section>
            <footer class="post-meta">
              <time class="post-date"><%= article.updated_at %></time>
            </footer>
          </article>
        <% end %>
      </div>
    </div>
  </div>
</div>