<div class="container p-3 mb-2 bg-light text-dark text-center" id="main">
  <h1 class="page-title">Tumbleweed</h1>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= image_tag "Avatar.jpg", class: "photo_avatar" %>
        <p>by <span>John El Basha</span></p>
      </div>
      <div class="col-9">
        <article class="post">
          <header class="post-header">
            <h2 class="post-title">Istanbul's forgotten cemeteries</h2>
          </header>
          <section class="post-excerpt">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </section>
          <footer class="post-meta">
            <time class="post-date" datetime="2022-04-21">21 April 2022</time>
          </footer>
        </article>
        <article class="post">
          <header class="post-header">
            <h2 class="post-title">Sleepless in Bodrum</h2>
          </header>
          <section class="post-excerpt">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </section>
          <footer class="post-meta">
            <time class="post-date" datetime="2022-04-21">21 April 2022</time>
          </footer>
        </article>
        <article class="post">
          <header class="post-header">
            <h2 class="post-title">Muscat's Delights</h2>
          </header>
          <section class="post-excerpt">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </section>
          <footer class="post-meta">
            <time class="post-date" datetime="2022-04-21">21 April 2022</time>
          </footer>
        </article>
      </div>
    </div>
  </div>
</div>

